PERSON1_API_KEY=
PERSON2_API_KEY=
PERSON1_SPLIT=
PERSON1_BUDGET_ID=
PERSON2_BUDGET_ID=
PERSON1_BANK_ACCOUNT=
PERSON2_BANK_ACCOUNT=
PERSON1_REIMBURSEMENT_ACCOUNT=
PERSON2_REIMBURSEMENT_ACCOUNT=
PERSON1_REIMBURSEMENT_CATEGORY=
PERSON2_REIMBURSEMENT_CATEGORY=